# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg metadata
*.egg-info/
dist/
build/

# VSCode / IDE configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# PyTorch model weights
*.pt
*.pth

# Cache
*.cache/
